nav {
  position: sticky; // Ustawienie na sticky
  top: 0; // Przyklejenie do górnej części ekranu
  left: 0; // Przyklejenie do lewej części ekranu
  width: 100%; // Szerokość na 100% ekranu
  padding: 20px;
  background-color: #333; // Ciemnoszare tło
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); // Subtelny cień
  z-index: 1000; // Ustawienie z-index, aby navbar był nad innymi elementami

  a {
    margin-right: 20px; // Większy odstęp między linkami
    text-decoration: none;
    color: #f8f8f8; // Jasny kolor tekstu
    font-size: 16px; // Rozmiar czcionki
    padding: 10px; // Padding dla linków
    transition: color 0.3s ease, border-bottom 0.3s ease; // Animacja zmiany koloru i linii

    &:hover {
      color: #ffffff; // Zmiana koloru tekstu przy hover
      border-bottom: 2px solid #ffffff; // Dodanie linii pod linkiem przy hover
    }
  }
}