footer {
    background-color: #1e1e1e; /* Dopasowane tło */
    color: #ccc;
    width: 100%;
    z-index: 1000;
    margin-top: 20px; /* Odstęp od treści */
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-brand {
    flex: 1;
    margin-bottom: 2rem;
}

.footer-brand h2 {
    font-size: 2rem;
    color: #fff;
}

.footer-brand p {
    margin: 1rem 0;
    color: #aaa;
    font-size: 1rem;
}

.footer-socials {
    display: flex;
    gap: 1rem;
}

.social-icon {
    font-size: 1.2rem;
    color: #fff;
    text-decoration: none;
}

.social-icon:hover {
    color: #e6b800;
}

.footer-links {
    display: flex;
    flex: 3;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
}

.footer-column {
    flex: 1;
    min-width: 150px;
}

.footer-column h3 {
    font-size: 1.5rem;
    color: #fff;
    margin-bottom: 1rem;
}

.footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-column li {
    margin-bottom: 0.5rem;
}

.footer-column a {
    color: #aaa;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-column a:hover {
    color: #e6b800;
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: flex-start;
    }
    .footer-links {
        flex-direction: column;
    }
    .footer-column {
        margin-bottom: 2rem;
    }
}

.social-icon img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    transition: transform 0.3s ease;
}

.social-icon img:hover {
    transform: scale(1.2); 
}

