header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    padding: 1vh 2vw; 
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.5);
    border-radius: 0.2vw;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    max-width: 1200px;
    width: 100%;
    height: 8vh; 
}


header h1 {
    font-size: 1.5rem; 
    color: white; 
    margin: 0; 
    padding: 0;
    font-weight: bold; 
    text-transform: uppercase;
    letter-spacing: 0.1rem; 
}


nav .logo {
    height: 2.5vh;
    margin-right: 2vw;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Rozdziela elementy na przeciwne strony */
    align-items: center;
    width: 100%;
}

nav a {
    display: inline-block;
    padding: 0.5rem 1rem; /* Lepsze proporcje */
    margin: 0 0.5rem;
    color: white;
    text-decoration: none;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

nav a:hover {
    background-color: #444;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    color: #e6b800;
    border-radius: 0.2rem;
    transform: translateY(-2px); /* Efekt uniesienia */
}


nav a:hover {
    background-color: #444;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    color: #e6b800;
    border-radius: 0.2rem;
    transform: translateY(-2px); /* Lekko unosi link */
}

.user-icon {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #ccc;
    transition: all 0.3s ease;
}

.user-icon:hover {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
}

.user-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-left: auto;
    z-index: 10;
    width: 50px;
    height: 50px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 10vw;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 100%;
    left: 0;
    transform: translateY(5px);
    border-radius: 0.5rem;
    overflow: hidden;
    text-align: left; 
    padding: 0; 
}

.user-menu:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: #333;
    padding: 1rem; 
    text-decoration: none;
    display: block;
    font-size: 1rem;
    transition: background-color 0.2s ease, color 0.2s ease;
    box-sizing: border-box;
}

.dropdown-content a:hover {
    background-color: #e6b800;
    color: white;
}

@media (max-width: 600px) {
    nav a {
        padding: 1vh;
    }
}
